/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
  
body {
  font-family: arial;
  background: rgb(81, 78, 233);
  background: linear-gradient(90deg, rgba(81, 78, 233, 1) 10%, rgba(164,52,244,1) 48%, rgba(228,33,253,1) 100%);
}
.img-pregunta{
  display: flex;
  justify-content: flex-end;
}

.img-pregunta a i{
  font-size: 30px;
}
.img-pregunta a{
  text-decoration: none;
  color: #F3F2FD;
}
.img-logo-min{
  position: fixed;
  bottom: 0;
}
.img-logo-min img{
  width: 10rem;
}
.form-login{
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.cont-login{
  background: rgb(243, 242, 253, 0.8);
  width: 28%;
  padding: 30px;
  border-radius: 10px;
}
.form-text{
  padding-top: 30px;
}
.form-text .mb-3 input{
  border-radius: 50px;
}
.label-user , .label-pass{
  font-size: 20px;
  color: #272727;
}
.form-text-preguntas{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
text-align: center;
}
.form-text-preguntas a{
  font-size: 12px;
  text-decoration: none;

}
.img-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img-logo img{
  position: absolute;
  width: 10rem;
  margin-top:-120px;
}

.btn_primary{
  display: flex;
  justify-content: center;
  border: none;
  padding: 10px;
  text-decoration: none;
  background: linear-gradient(90deg, rgba(81, 78, 233, 1) 10%, rgba(164,52,244,1) 48%, rgba(228,33,253,1) 100%);  width: 50%;
  padding: 10px;
  text-align: center;
  border-radius: 100px;
  color: #F3F2FD;
}


.btn-login :hover{
  color: #F3F2FD;
  transition: 0.5s;
}
.btn-login :active{
  transition: 0.5s;
  background: #514ee9;
}