* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: arial;
    background: rgb(81, 78, 233);
    background: linear-gradient(90deg, rgba(81, 78, 233, 1) 10%, rgba(164,52,244,1) 48%, rgba(228,33,253,1) 100%);
  }


  
  .form-login {
    width: 450px;
    height: 620px;
    background: #D1B1F9;
    margin: auto;
    box-shadow: 7px 13px 37px #000;
    border-radius: 20px;
    padding: 20px 30px;
    margin-top: 250px;

  }


  .controls {
    width: 100%;
    border: 1px solid #fff;
    margin-bottom: 30px;
    padding: 11px 10px;
    background: #fff;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .buttons{
    width: 200px;
    margin-left: 100px;
    height: 40px;
    background: rgb(121, 58, 129);
    background: linear-gradient(90deg, rgba(121, 58, 129, 1) 0%, rgba(164,52,244,1) 48%, rgba(228,33,253,1) 100%);
    border-radius: 50px;
    border: none;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;
    text-decoration: none;
  }
.buttons:active{

  background: linear-gradient(90deg, rgb(194, 114, 204) 0%, rgb(139, 89, 174) 48%, rgb(176, 55, 232) 100%);
}

.imagen-principal{

  
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 130px;
  margin-left: 110px;

}

.imagen-footer{

    position: absolute;
  bottom: 0px;
  left: 0px;
  
  }


  
  .form-login p{
    height: 40px;
    text-align: center;
  }
  
  .form-login a {
    color: #7E86EA;
    text-decoration: none;
    font-size: 14px;
    
  }

  .form-login h5 a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    height: 40px;
    font-size: 20px;
    margin-top: 55px;
    display: block;
    
  }

  .form-login h4 a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    height: 40px;
    font-size: 20px;
    margin-top: 1px;
    display: block;
    
  }
  
  .form-login p a:hover {
    text-decoration: underline;
  }

  .image-logo{

    display: flex;
    margin-top: 80px;
  }