@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --purple:#A434F4;
    --black: #192a56; 
    --light-color: #666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
   
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}


section{
    background: #F0EEF0;
    height: 100%;

}

.sub-titulo, .titulo{
    text-align: center;
    letter-spacing: 0.1em;
}
.sub-titulo {
    color: #1A1A1A;
}

.titulo{
    color: #A434F4;
}
.img-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.img-perfil img{
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    margin: 5px;
    object-fit: cover;
}



.vl-vertical{
    border-left: 3px solid #A434F4;
  height: 380px;
  margin: 30px;
  
}

.perfil-container-edit{
    background: #F0EEF0;
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.datos-perfil{
    width: 30%;
    padding: 15px;
}

.datos-perfil label{
    margin-bottom: 0;
    margin-top: 5px;
}

.button{
    text-decoration: none;
    background: #A434F4;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    width: 70%;
    border-radius: 5px;
    
}
.button:hover{
    background-color: #b04df7;
    text-decoration: none;
    color: #fff;
}

.btn-guradar-datos-perfil{
    display: flex;
    margin: 5px;
    padding: 5px;
    justify-content: center;

}