<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Music Fusion </title>
    <link rel="stylesheet" href="/resources/css/style_dashboard.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <img src="/img/logos/logo_blanco_horizontal.png" alt="logo">
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bxs-home-alt-2'></i>
          <span class="link_name">Inicio</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Inicio</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-user'></i>
          <span class="link_name">Usuario</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Usuario</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bxs-package' ></i>
            <span class="link_name">Pedidos</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Pedidos</a></li>
          <li><a href="#">Pedidos</a></li>
          <li><a href="#">Detalles Pedidost</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-book-alt' ></i>
            <span class="link_name">Productos</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Productos</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Detalles Productos</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="link_name">Setting</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Setting</a></li>
        </ul>
      </li>
      <li>
        
   <!-- --> <div class="profile-details">
      <div class="profile-content">
        <img src="/img/people/charlie.jpg" alt="profileImg">
      </div>
      <div class="name-job">
        <div class="profile_name">Charlie</div>
        <div class="job">Vendedor</div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section nav-barra">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">Drop Down Sidebar</span>
        <label class="info">parte principal</label>
    </div>
    
     
      <div class="bottom-content">
        <div class="nav-barra-time">
          <label>lunes feb. 30 2022</label>
        </div>
        <li class="mode">
            <div class="sun-moon">
                <i class='bx bx-moon icon moon'></i>
                <i class='bx bx-sun icon sun'></i>
            </div>
            <span class="mode-text text">Dark mode</span>

            <div class="toggle-switch">
                <span class="switch"></span>
            </div>
        </li>     
    </div>
    
  </section>
  <main class="main home-section"> 
    <h1>main</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet accusantium atque autem architecto, non voluptates corrupti. Fugiat molestias, nostrum est, nam nemo rem iste ipsam eligendi placeat minima, architecto unde!
    Earum cupiditate quod numquam nulla sint ipsam omnis eligendi asperiores cum? Non porro et nulla quas? Ullam, rerum, iusto delectus laudantium aut eos corrupti accusamus ea vitae sapiente voluptate dignissimos?
    Laborum dolores accusantium, ullam autem totam iure incidunt tenetur optio debitis soluta deserunt quae distinctio qui similique architecto cupiditate nulla dicta temporibus? Fugit consequuntur nulla earum cum, odit modi porro.
    Nobis, neque, sequi distinctio odio delectus vel reprehenderit molestiae veniam repellat iste mollitia quos? Facilis dolore sapiente, minus eum culpa deleniti laborum quae doloremque ea eius distinctio, saepe voluptates iusto.
    Laboriosam, dolores, excepturi repellendus expedita unde reiciendis repudiandae voluptatem quaerat minima sunt nobis porro. Dolore est eius odit iste sapiente voluptates tempora, inventore repellat assumenda libero alias error laboriosam a.
    Asperiores necessitatibus quasi sint corrupti placeat expedita, fugiat exercitationem veritatis nobis dolore, consequatur laboriosam eveniet fugit nulla ipsam tenetur obcaecati quia unde quo ipsum corporis. Ipsam eos asperiores atque sunt!
    Dolorum eveniet perspiciatis, unde repudiandae quam similique distinctio commodi necessitatibus laudantium architecto alias sint consequatur fugiat velit voluptatibus saepe quas! Excepturi ex nesciunt amet voluptas, alias cum velit aspernatur neque?
    Tempore, mollitia distinctio. Autem, sequi repudiandae hic minus quis excepturi tenetur neque sapiente ducimus esse earum, deleniti impedit eveniet beatae sed dolores. Laborum illum quidem, ipsum non tempore molestiae illo!
    Esse repellendus architecto soluta quidem optio. Nam dolores impedit amet mollitia saepe optio, eius deleniti odit corporis accusantium, obcaecati dolorum porro suscipit est exercitationem, ut eligendi molestias deserunt! Repellat, odit?
    Amet voluptate porro similique corporis repellendus facere, non obcaecati, ut numquam laborum magni voluptatum vero molestiae beatae quis placeat mollitia quos inventore quisquam dignissimos laudantium tenetur voluptas! Tempora, perferendis natus.
    Pariatur ducimus quisquam molestiae placeat minima quis ipsam est! Magnam repellendus assumenda nesciunt itaque in harum accusantium! Cumque obcaecati fuga adipisci blanditiis, rerum, voluptatum doloremque eligendi, molestiae officia rem animi.
    Est omnis odit error voluptatum, in molestiae vitae officiis nulla, cupiditate iste hic, laboriosam veritatis repellat corrupti neque nobis! Quo beatae inventore quisquam esse ullam aut deserunt blanditiis et maiores.
    Natus enim voluptatum minima. Veritatis, totam? Quisquam ratione eveniet quaerat, laborum mollitia unde eligendi similique aut sed distinctio obcaecati error nulla placeat neque, esse maxime quas reiciendis sunt necessitatibus laboriosam!
    Aliquam minima, hic molestiae sunt blanditiis qui ducimus quidem saepe possimus. Nemo enim ex dolorem harum natus reprehenderit pariatur et? Atque expedita iure iste reprehenderit nostrum veniam aliquid et magni.
    Mollitia minus in architecto facere fuga modi iure fugiat, maxime quam error ut blanditiis illo sint voluptatem, distinctio asperiores vero soluta perferendis dicta sed totam enim eum? Quis, eius voluptatibus.
    Rerum accusantium nisi exercitationem eveniet quidem asperiores veritatis, distinctio amet, aperiam veniam repellendus! Quisquam quod, aspernatur assumenda facilis voluptas ut laborum quasi vitae pariatur totam sapiente voluptatem quibusdam odit dicta.
    Sint, dignissimos fugit et maxime, molestias, sapiente repellendus itaque distinctio cumque ea dolorem corrupti vitae facilis explicabo quod doloremque voluptates error tenetur illum unde. Minus tempora praesentium repudiandae quod est!
    Quam modi, blanditiis excepturi sed asperiores repudiandae perferendis iure rem exercitationem culpa quisquam? Fugit pariatur dolorum porro excepturi inventore reiciendis velit earum placeat mollitia, quidem optio vitae debitis, quis provident.
    Eligendi nesciunt quos saepe repellat rem distinctio beatae, iste exercitationem molestias, optio accusantium labore quidem laudantium culpa qui impedit ab quasi corrupti a? Fugit, pariatur voluptatum quibusdam iusto dolorem enim.
    Accusantium nostrum dolorem consequuntur rem. Est soluta et perspiciatis veniam, possimus magnam blanditiis ullam quod! Accusamus error velit obcaecati neque debitis dolores, ipsa, commodi ipsam illo fugit odio asperiores quos.
    Veritatis incidunt ea maiores magni sed vero eius? Ad doloremque dolores impedit voluptates ipsum sint labore. Eveniet porro, velit mollitia natus consectetur labore aliquid reprehenderit impedit ipsum repellat nisi tenetur.
    Doloribus hic animi sint exercitationem amet consectetur quae corrupti dicta natus sapiente facilis minus nemo magni iste earum totam facere laboriosam ullam, modi aut laudantium sed tenetur rem quas! Voluptatem!
    Nesciunt facere perspiciatis ut enim reprehenderit, quaerat, odio veniam magnam vel debitis dolore. Blanditiis, obcaecati alias esse asperiores autem, nemo, quae odit nostrum facere dolore quas ipsum cum repudiandae dolor!
    Asperiores dolor culpa qui tempora rerum error odio voluptatem, porro blanditiis eaque nobis saepe est libero alias magnam doloribus consequuntur ut corrupti maiores iste recusandae omnis impedit modi! Suscipit, dicta?
    A nulla veritatis facere ad possimus delectus recusandae, minus sequi dolor omnis exercitationem corrupti, obcaecati illum nemo? Veniam distinctio quidem quae ea illo, aliquid eligendi dolore, cumque excepturi ut perspiciatis?
    Illum iusto nobis molestias debitis doloribus cum dolores facilis necessitatibus libero reiciendis nemo qui laborum odio voluptate autem ipsum, consequatur odit corporis recusandae dignissimos nostrum. Vel maxime similique error dignissimos!
    Autem modi accusamus blanditiis vero quisquam. Quaerat autem quibusdam vitae voluptates odio doloribus sequi, consectetur laudantium, incidunt sunt, omnis laborum neque nihil! Non, nisi sint magni modi rerum eius nobis!
    Nihil pariatur eos libero reprehenderit corrupti praesentium! Eius, commodi! Eum, fugiat alias nostrum totam, doloribus culpa, quos enim dicta similique ea ex saepe quas? In aliquid debitis atque cupiditate cumque?
    Ipsum ad quia nostrum explicabo, vero a tenetur eveniet fugit debitis perspiciatis, totam laborum mollitia molestiae assumenda! Officia quos reiciendis quidem consequuntur eligendi incidunt quibusdam, repudiandae officiis, eos architecto laudantium!
    Doloribus eius nisi fuga, illum vel, consectetur, ad illo cupiditate tempora perspiciatis voluptatum libero modi magnam sint iure fugit provident! Aperiam tempore at adipisci nesciunt hic accusantium illo magni iure!
    Vel veniam accusamus ipsam itaque error cum suscipit, harum assumenda eaque sequi, esse ea placeat deserunt natus dolor. Laborum nemo perspiciatis, vel autem enim voluptates rerum! Corrupti ut fugiat itaque.
    Aut deleniti vitae facere necessitatibus ipsa sapiente labore animi at beatae illum, aliquam repellendus. Cupiditate veritatis fugit, laborum eum est beatae? Ipsum, dolorem unde modi repellendus aperiam velit. Qui, doloribus?
    Laborum inventore sint sit porro officiis sapiente unde, voluptates tempore animi saepe, numquam quas totam cumque perspiciatis corporis! Facilis, vero. Blanditiis quia quae excepturi corrupti reiciendis eaque perspiciatis at consequuntur.
    Delectus fuga ex suscipit? Inventore velit eos in ipsa voluptatibus. Ratione excepturi soluta delectus, quasi voluptatibus tempore accusamus error quis omnis assumenda, quisquam hic maiores. A rem ex aliquid animi.
    Consectetur soluta assumenda quasi quaerat molestiae libero tempora vitae similique necessitatibus perferendis. Perspiciatis fuga nesciunt reprehenderit soluta libero, quidem unde dignissimos illo atque adipisci debitis autem accusantium reiciendis tenetur illum.
    Quod nam ipsum nihil, libero, sunt inventore est odit dolorem ex neque maiores rem assumenda aliquid corrupti! Eaque, veniam optio. Reiciendis ipsam explicabo maxime, excepturi illo adipisci quidem quod deleniti?
    Itaque nam blanditiis eum laborum excepturi officiis debitis sint ab totam ullam voluptate omnis dolore soluta iste aspernatur, laboriosam rem pariatur ducimus nulla ad quidem est nihil? Necessitatibus, ratione modi?
    Sint modi numquam asperiores ipsam ab veritatis magnam temporibus maiores perspiciatis eligendi, ea sapiente perferendis, voluptatem nemo tempora explicabo alias earum, saepe dolorum quidem. Delectus voluptatem omnis iure commodi fugit.
    Voluptates autem impedit cumque ut atque doloremque voluptatem maxime in labore? Perferendis enim non exercitationem quas obcaecati voluptate consectetur distinctio illum doloribus vero culpa, eaque, minima, ut necessitatibus officia atque!
    Ducimus iure maiores voluptate veritatis sed praesentium amet consequuntur. Aliquid labore optio magni nesciunt dolor officiis! Porro corporis, soluta, aut officiis fugiat perspiciatis, quae officia a rem sint quaerat amet.
    Soluta perspiciatis aut earum, ab, necessitatibus quas facilis eligendi, voluptatibus repellat quisquam officia sed hic sapiente dolores repudiandae? In velit soluta omnis officia voluptatem minus, consequatur ab dolor totam mollitia.
    Recusandae corrupti aut vitae vel nostrum modi quod dolorum perferendis minima delectus beatae dolorem assumenda, maiores consequatur consectetur asperiores autem, provident vero, rem consequuntur unde tempore totam hic? Et, totam.
    Velit architecto necessitatibus adipisci minus id sit qui optio debitis eius laborum! Tempore at eligendi nostrum, tenetur dolorem obcaecati cumque repellat sed voluptatum ratione iure beatae officiis quis possimus nulla.
    Exercitationem nisi nemo commodi obcaecati quaerat culpa aspernatur fuga corrupti ad. Quam perferendis eveniet saepe unde quasi voluptas obcaecati quos vitae reiciendis perspiciatis! Deleniti reiciendis eaque nesciunt commodi adipisci quasi!
    Facilis laborum omnis dicta eius corrupti quia recusandae numquam quasi quis ut id tempore, atque, tenetur voluptas suscipit eveniet, cumque corporis. Similique adipisci exercitationem magnam, quaerat aliquid porro maxime placeat!
    Ipsum eaque vitae porro numquam quisquam culpa ipsam labore? Saepe rem aut sed quibusdam nobis, ipsam temporibus velit et animi, dolor quasi, non ipsa harum. Similique saepe ratione consequuntur. Veniam?
    Et quas officiis omnis sapiente harum cumque, minima saepe ullam blanditiis qui at natus inventore voluptas aliquid rerum numquam tenetur repellendus doloribus est? Pariatur perferendis ullam earum similique? Impedit, neque.
    Eveniet, magni sit aliquam cum veniam alias suscipit maiores delectus tempore perferendis consequatur ipsa quasi, mollitia ut soluta expedita reprehenderit corporis nam quia molestias voluptas nesciunt. Consectetur ex nemo nam.
    Vitae nemo reprehenderit quidem debitis distinctio quod quasi unde, nobis eaque quisquam recusandae ipsum, illo vero! Sed eaque error illo vel. Repudiandae iure optio quaerat ipsum omnis odit eligendi aut!
    Culpa harum eaque tenetur voluptates suscipit obcaecati reprehenderit voluptatem sequi neque natus, laboriosam tempore corporis possimus cumque exercitationem ex cupiditate ratione quas, molestiae ullam mollitia dolor beatae recusandae consequatur. Facilis.</p>
  </main>
  <script src="/js/script_dashboard.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>
