<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="/resources/css/dashboard/style_login.css">
  <!-- Llamada de archivo como icono -->
  <link type="image/png" rel="icon" href="/img/logos/logo.png">
  <!--Import Google Icon Font-->
  <link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<!--Import materialize.css-->

<!--Let browser know website is optimized for mobile-->
</head>

<body>   
    <section class="form-login">
        <div class="imagen-principal">
            <img src="/img/logos/logo.png" width="200px" alt="">
        </div>
      <h6><a href="">Nombre de usuario</a></h6>
      <input class="controls" type="text" name="user" value="" placeholder="">
      <h5><a href="">Contraseña</a></h5>
      <input class="controls" type="password" name="pass" value="" placeholder="">
      <input class="buttons" type="submit" name="" value="Continuar">
      <p><a href="/views/dashboard/recuperacion.html">¿Has olvidado tu contraseña?</a></p>
      <p><a href="/views/dashboard/cuenta.html">¿Todavia no es miembro? <b>Crea una cuenta</b></a></p>

    </section>

  <footer>
    <section class="imagen-footer">
      <img src="/img/logos/logo_blanco_horizontal.png" width="200px" alt="">
</section>
  </footer>
  
  <script
  type="text/javascript"
  src="/resources/js/materialize.min.js"
></script>
</body>

</html>