<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="/resources/css/dashboard/style_login.css">
  <!-- Llamada de archivo como icono -->
  <link type="image/png" rel="icon" href="/img/logos/logo.png">
  <!--Import Google Icon Font-->
  <link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<!--Import materialize.css-->

<!--Let browser know website is optimized for mobile-->
</head>

<body>   
    <section class="form-login">
        <div class="image">
            
        </div>
      <h6><a href="">Nombre de usuario</a></h6>
      <input class="controls" type="text" name="usuario" value="" placeholder="">
      <h5><a href="">Contraseña</a></h5>
      <input class="controls" type="password" name="contrasena" value="" placeholder="">
      <input class="buttons" type="submit" name="" value="Continuar">
      <p><a href="#">¿Has olvidado tu contraseña?</a></p>
      <p><a href="#">¿Todavia no es miembro? <b>Crea una cuenta</b></a></p>

    </section>


  <section class="image-logo">

  </section>
  
  <script
  type="text/javascript"
  src="/resources/js/materialize.min.js"
></script>
</body>

</html>