<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Productos</title>
  <link rel="stylesheet" href="../../resources/css/dashboard/style_productos.css">
  <!-- Llamada de archivo como icono -->
  <link type="image/png" rel="icon" href="../../img/logos/logo.png">
  <!-- Boxiocns CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <nav class="sidebar close">
    
  </nav>
  <header class="home-section nav-barra">
    <div class="home-content">
      <i class='bx bx-menu' id="btn"></i>
      <!--comentario 15/02/2023-->
      <span class="text">Dashboard</span>
      <label class="info" id="greeting"></label>
  </div>
  <div class="bottom-content">
      <div class="nav-barra-time">
          <label>lunes feb. 30 2022</label>
      </div>
      <li class="mode">
          <div class="sun-moon">
              <i class='bx bx-moon icon moon'></i>
              <i class='bx bx-sun icon sun'></i>
          </div>
          <span class="mode-text text">Modo Dark</span>

          <div class="toggle-switch">
              <span class="switch"></span>
          </div>
      </li>
  </div>
  </header>
  <main class="main home-section">
    <div class="contenedor-elemntos-scrud">
      <form class="buscar" id="search-form" >
        <div class="btn" onclick="">
          <button class="btn button" type="submit" data-tooltip="Buscar">
            <i class='bx bx-search'></i>
          </button>
          
        </div>
        <input type="search" id="search" name="search" placeholder="Buscar" data-tooltip="Buscar" required />
        <button type="button" class="btn btn-info bx bx-download" onclick="openReport()">Descargar Reporte PDF</button>
      </form>
      <!--Agregar Producto -->
      <div class="btn-agregar">
        <button type="button" class="button-modal" data-bs-toggle="modal" onclick="openCreate()" data-bs-target="#add-modal">
          <i class='bx bxs-alarm-add'></i>
          Agregar Producto
        </button>
      </div>
    </div>
    <div class="grafica col-6 ">
      <canvas id="ChartLineal"></canvas>
  </div>
    <!-- Modal para agregar y actualizar mas el id=add-modal -->
    <div class="modal fade " id="add-modal" data-bs-backdrop="static"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <!--Titulo del modal id= modal-tile-->
            <h1 class="modal-title fs-5" id="modal-title"></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="row g-3" id="save-form">
              <div class="col-md-4">
                <p>Nombre del producto</p>
                <input type="text" class="form-control validate" placeholder="Nombres" aria-label="Los Nombres"
                  id="nombre_producto" name="nombre_producto" required>
              </div>
              <div class="col-md-4">
                <p>Marca</p>
                <select class="form-select" id="Marca_Producto" name="Marca_Producto">
                  <option selected>Seleccionar</option>
                
                </select>
              </div>
              <div class="col-md-4">
                <p>Precio</p>
                <input id="precio_producto" type="number" name="precio_producto" class="form-control validate"
                  placeholder="Precio" step="0.01" required>
              </div>
              <div class="col-md-4">
                <p>Categoria</p>
                <select class="form-select" id="categoria" name="categoria">
                  <option selected>Seleccionar</option>
                
                </select>
                
              </div>
              <div class="col-md-4">
                <p>Descripción</p>
                <input type="text" id="descripcion" name="descripcion" class="form-control validate" 
                  placeholder="Descripción" >
              </div>
              <div class="col-md-4">
                <p>Cantidad</p>
                <input type="number" id="cantidad" name="cantidad" class="form-control validate" 
                  placeholder="Cantidad" >
              </div>
              <div class="col-md-4">
                <p>Fecha de compra</p>
                <input type="date" id="fecha" name="fecha" class="form-control validate" 
                  placeholder="Fecha de ompra" >
              </div>
              <div class="col-md-4">
                <p>Estado del producto</p>
                <input class="form-check-input" name="id_estado_producto"  type="checkbox" id="id_estado_producto" >
                <label class="form-check-label" for="estado">Activo</label>
              </div>
              
              <div class="col-md-12">
                <p>Imagen</p>
                <input id="foto" name="foto"  type="file" accept=".jpg, .png" class="form-control validate" placeholder="Formatos JPG y PNG" aria-label="First name">
              </div>
              <div class="invisible">
                <p>ID</p>
                <input type="number" class="form-control validate" placeholder="id" aria-label="id"
                  id="id_producto" name="id_producto" required>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar Acción</button>
                <button type="submit" class="btn btn-primary" data-tooltip="Guardar">Guardar Acción</button>
                <button type="reset" class="btn btn-secondary" data-tooltip="Limpiar">Limpiar Campos</button>
              </div>
            </form>
          </div>
          
        </div>
        
      </div>
    </div>
    </div>
    <h3 id="records">Administrar Productos</h3>
    </div>
    <div class="header_fixed">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr id="records"></tr>
            <tr>
              <th>No.</th>
              <th>Nombres</th>
              <th>Marca</th>
              <th>Precio</th>
              <th>Categoria</th>
              <th>Descripción</th>
              <th>Cantidad</th>
              <th>Fecha compra</th>
              <th>Estado</th>
              <th>Usuario</th>
              <th>Imagen</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="tbody-rows">
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="td-button">
                
                <!--Boton Editar-->
                <button class="button_edit" type="button" class="button-modal" data-bs-toggle="modal"
                  data-bs-target="#add-modal"  data-tooltip="Actualizar"><i class='bx bxs-edit-alt'></i></button>
                <!--Boton Eliminar-->
                <button onclick="mostrar()" class="button_delet" data-tooltip="Eliminar"><i class='bx bx-trash'></i></button>
                <!--Boton examinar-->
                <button class="button_updet"><i class='bx bx-refresh'></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="../../js/chart.min.js"></script>

  </main>
  <!--mensajes bonitos-->
  <script src="../../js/sweetalert.min.js"></script>
  <!--llamar el menu y controlador -->
  <script src="../../controllers/components.js"></script>
  <!--desplegar menu-->
  <!-- <script src="../../resources/js/dashboard/menu.js"></script> -->
  <!--llamar el menu y controlador -->
  <script src="../../controllers/dashboard/Account.js"></script>
  <!--funsion para las estrallas del home -->
  <!-- <script src="../../resources/js/dashboard/script_home.js"></script> -->
  
  <script src="../../controllers/dashboard/Productos.js"></script>
  <!--boostrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"></script>
  
   <!-- js del cliente -->
  
  <!--controlador-->
 
  

</body>

</html>