<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>Editar Perfil</title>
    <!-- Llamada de archivo como icono -->
    <link type="image/png" rel="icon" href="/img/logos/logo.png">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--css-->
    <link rel="stylesheet" href="/resources/css/public/style_perfil_edit.css">
    <!--link frame booststrap 5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <header>
        <h1>header</h1>
        <nav>
            <a href="">nav</a>
        </nav>
    </header>
    <section class="">
        <div class="perfil-container">
            <div>
                <h4 class="sub-titulo">Editar</h4>
            </div>
            <div>
                <h1 class="titulo">Perfil</h1>
            </div>

            <div class="perfil-container-edit">
                <div class="img-perfil">
                    <img src="/img/people/Diego.jpg" alt="">
                    <a href="#" class="button" id="btn-foto-perfil">Cambiar Foto</a>
                </div>
                <div class="vl-vertical"></div>
                <div class="datos-perfil">
                    <label for="formGroupExampleInput" class="form-label">Nombres</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombres Completo">
                    <label for="formGroupExampleInput" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Apellidos Completo">
                    <label for="formGroupExampleInput" class="form-label">Telefono</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="1234-1234">
                    <label for="formGroupExampleInput" class="form-label">Correo Electrónico</label>
                    <div class="input-group">
                        <div class="input-group-text">@</div>
                        <input type="text" class="form-control" id="autoSizingInputGroup"
                            placeholder="Correo@Electrónico.com">
                    </div>
                    <label for="formGroupExampleInput" class="form-label">Contraseña</label>
                    <div class="input-group">
                        <div class="input-group-text"> <i class='bx bx-show'></i></div>
                        <input type="password" class="form-control" id="autoSizingInputGroup" placeholder="contraseña">
                        <button type="submit" class="btn btn-primary">Cambiar</button>

                    </div>
                    <label for="formGroupExampleInput" class="form-label">Fecha Nacimiento</label>
                    <input type="date" id="date" class="form-control">
                    <label for="formGroupExampleInput" class="form-label">Correo Electrónico</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Sexo</option>
                        <option value="1">Masculino</option>
                        <option value="2">Femenino</option>
                    </select>
                    <div class="btn-guradar-datos-perfil">
                        <a href="#" class="button" id="btn-foto-perfil">Guardar Cambios</a>
                    </div>

                </div>
            </div>
        </div>


        </div>
    </section>
    <footer>
        <h1>pie</h1>
    </footer>
    <!--BOSTRAP-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

</body>

</html>